.favouriteItem {
  display: flex;
  column-gap: 14px;

  &Img {
    background-color: var(--brown-light);
    width: fit-content;
    flex-shrink: 0;
    display: block;
    height: fit-content;

    img {
      width: 120px;
      height: 135px;
      object-fit: contain;
      object-position: center;
    }
  }

  &Content {
    width: 100%;
  }
}

.favouriteItemHead {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 5px;
}

.favouriteItemParam {
  color: rgba($color: #20201A, $alpha: .5);
  margin-bottom: 10px;
}

.ordersItem {
  padding: 16px;
  background-color: #fff;
  margin-bottom: 18px;
  border: 1px solid rgba($color: #000000, $alpha: .1);

  &Head {
    display: flex;
    justify-content: space-between;

    .button {
      min-width: 195px;
    }
  }

  &Images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;

    img {
      width: 114px;
      height: 150px;
      object-fit: contain;
      object-position: center;
      background-color: var(--brown-light);
    }
  }
}

.ordersItemStatus {
  color: #474130;
  margin-top: 12px;
}

.login-wrap {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.returnHead {
  display: flex;
  flex-direction: column;
}
.returnFile {
  .hover-brown {
    &:hover {
      color: var(--brown-dark);
    }
  }
}
.returnDragAndDrop {
  label {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #20201a;
    width: 100%;
    background-color: #e9d9c7;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.agreement.returnAgreement {
  label {
    align-items: center;
  }
}