.favouriteGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: 30px;
  column-gap: 35px;
  @media(max-width: 991px){
    row-gap: 20px;
    column-gap: 20px;
  }
  @media(max-width: 767px){
    row-gap: 12px;
    column-gap: 0;
  }
}

.favouriteItem {
  display: flex;
  column-gap: 14px;
  padding: 12px 16px;
  background-color: #fff;
  border: 1px solid rgba($color: #000000, $alpha: .1);
  grid-column: 4 span;

  @media(max-width: 1199px) {
    grid-column: 6 span;
  }
  @media(max-width: 767px){
    grid-column: 12 span;
    padding: 12px;
  }

  &Img {
    background-color: var(--brown-light);
    width: fit-content;
    flex-shrink: 0;
    display: block;
    height: fit-content;

    img {
      width: 120px;
      height: 166px;
      object-fit: contain;
      object-position: center;
      @media(max-width: 575px){
        height: 150px;
      }
    }
  }

  &Content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.favouriteItemTitle {
  @media(max-width: 991px){
    font-size: 14px;
  }
}
.favouriteItemHead {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin-bottom: 5px;
}

.favouriteItemParam {
  color: rgba($color: #20201A, $alpha: .5);
  margin-bottom: 10px;
}

.ordersItem {
  padding: 16px;
  background-color: #fff;
  margin-bottom: 18px;
  border: 1px solid rgba($color: #000000, $alpha: .1);
  @media(max-width: 575px){
    margin-bottom: 12px;
  }

  &Head {
    display: flex;
    justify-content: space-between;
    @media(max-width: 575px){
      flex-direction: column;
      row-gap: 12px;
    }

    .button {
      min-width: 195px;
      @media(max-width: 575px){
        width: 100%;
      }
    }
  }

  &Images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;

    img {
      width: 114px;
      height: 150px;
      object-fit: contain;
      object-position: center;
      background-color: var(--brown-light);
    }
  }
}

.ordersItemStatus {
  color: #474130;
  margin-top: 12px;
  @media(max-width: 575px){
    margin-top: 3px;
  }
}

.login-wrap {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.returnHead {
  display: flex;
  flex-direction: column;
}

.returnFile {
  .hover-brown {
    &:hover {
      color: var(--brown-dark);
    }
  }
}

.returnDragAndDrop {
  label {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px dashed #20201a;
    width: 100%;
    background-color: #e9d9c7;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.agreement.returnAgreement {
  label {
    align-items: center;
  }
}
.orderReview {
  padding: 13px 16px;
  background-color: #fff;
  border: 1px solid rgba($color: #000000, $alpha: .1);
}
.orderReviewProduct {
  display: flex;
  column-gap: 14px;
  margin-bottom: 12px;
}
.orderReviewProductImage {
  flex-shrink: 0;
  &:hover {
    opacity: .85;
  }
  img {
    background-color: var(--brown-light);
    width: 114px;
    height: 150px;
  }
}
.orderReviewProductParam {
  color: rgba($color: #20201A, $alpha: .5);
}
.orderReviewProductLink:hover {
  color: var(--brown-dark);
}
.orderReviewTotalWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #C1B6AE;
  margin-bottom: 16px;
}