// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 10px;
  height: 52px;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  font-size: 12px;

  &--lg {
    height: 65px;

    @media(max-width: 991px) {
      height: 50px;
    }
  }

  &--md {
    height: 44px;
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  &--brown-light {
    background-color: var(--brown-light);
    color: var(--main-color);
  }

  &--transparent-brown-light {
    background-color: transparent;
    color: var(--brown-light);
    border: 1px solid var(--brown-light);
  }

  &--white {
    background-color: #fff;
    color: var(--main-color);

    &:hover {
      background-color: var(--brown-light);
    }
  }

  &--black {
    background-color: #20201a;
    color: #e9d9c7;

    &:hover {
      background-color: var(--brown-dark);
    }
  }

  &.w-100 {
    width: 100%;
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }
}

.banerBtn {
  font-size: 12px;
  font-weight: 400;
  border-bottom: 1px solid #fff;
  transition: border-color .2s linear, color .2s linear;

  &:hover {
    color: var(--main-color);
    border-color: var(--main-color);
  }
}

.productAddToCard {
  height: 52px;
  width: 390px;

  @media(max-width: 575px) {
    width: 100%;
  }
}

.catalogCardWishlistBtn {
  width: 22px;
  height: 22px;
  background: url('@img/icons/heart-empty.svg') no-repeat center center / 22px;
  position: absolute;
  display: flex;
  top: 6px;
  right: 6px;
  cursor: pointer;
  z-index: 11;
  transition: background .2s linear;
  flex-shrink: 0;

  &:hover {
    background: url('@img/icons/heart-full.svg') no-repeat center center / 22px;
  }

  &.active {
    background: url('@img/icons/heart-full.svg') no-repeat center center / 22px;
  }

  &.position-unset {
    position: unset;
  }
}

.productAddToWishlist {
  width: 32px;
  height: 32px;
  background: url('@img/icons/heart.svg') no-repeat center center / 32px;
  transition: background .2s linear;

  @media(max-width: 991px) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    background: url('@img/icons/heart-full.svg') no-repeat center center / 32px;

    @media(max-width: 991px) {
      background: url('@img/icons/heart-full.svg') no-repeat center center / 20px;
    }
  }

  &.active {
    background: url('@img/icons/heart-full.svg') no-repeat center center / 32px;

    @media(max-width: 991px) {
       background: url('@img/icons/heart-full.svg') no-repeat center center / 20px;
    }
  }
}

.modalAddedCartBtn {
  margin-bottom: 15px;
}

.cartItemQuantity {
  display: flex;
}

.cartItemQuantityBtn {
  width: 46px;
  height: 32px;
  background: rgba(116, 116, 128, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: .65;
  }
}

.cartItemQuantityBtnPlus {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.cartItemQuantityBtnMinus {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 100%;
    width: 1px;
    height: 24px;
    border-radius: 8px;
    background: rgba(60, 60, 67, 0.3);
  }
}

.cartItemRemove {
  &:hover {
    opacity: .75;
  }
}

.delivery-point-btn {
  min-width: 360px;
  @media(max-width: 575px){
    min-width: unset;
    width: 100%;
  }
}

.change-point {
  text-decoration: underline;
  font-size: 12px;
  margin-top: 14px;
  display: block;

  &:hover {
    color: var(--brown-dark);
    text-decoration: underline;
  }
}

.success-btn {
  min-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  @media(max-width: 575px){
    width: 100%;
  }
}

.favouriteItemBtn {
  margin-top: auto;
}

.loginBtn {
  min-width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  @media(max-width: 575px){
    width: 100%;
  }
}
.ordersItemBtn--lg {
  @media(max-width: 575px){
    display: none;
  }
}
.ordersItemBtn--sm {
  display: none;
  @media(max-width: 575px){
    display: flex;
    margin-top: 12px;
    width: 100%;
  }
}