.cart {
  &W {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;

    @media(max-width: 991px) {
      flex-direction: column;
    }
  }

  &Content {
    max-width: 750px;
    width: 100%;

    @media(max-width: 1199px) {
      max-width: 600px;
    }

    @media(max-width: 991px) {
      width: 100%;
      max-width: 100%;
    }
  }

  &Item {
    margin-bottom: 12px;
    padding: 12px 24px 12px 12px;
    width: 100%;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;

    @media(max-width: 575px) {
      padding-right: 20px;
    }

    &Img {
      flex-shrink: 0;

      &:hover {
        opacity: .85;
      }

      img {
        width: 100px;
        height: 130px;
        object-fit: contain;
        object-position: center;
        background-color: var(--brown-light);
      }
    }

    &Content {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-left: 30px;
      font-size: 12px;
      padding-top: 9px;

      @media(max-width: 575px) {
        padding-left: 9px;
      }

      &R {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
      }

      &L {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
      }
    }

    &Name {
      margin-bottom: 8px;
      max-width: 180px;
    }

    &Price {
      margin-bottom: 16px;

      @media(max-width: 575px) {
        margin-bottom: 12px;
      }
    }

    &Param {
      color: rgba(32, 32, 26, 0.5);
      margin-bottom: 22px;
    }

    &QuantityNum {
      color: rgba(32, 32, 26, 0.5);
      margin-top: auto;
    }
  }

  &Order {
    flex-shrink: 0;
    width: 370px;
    padding: 18px 30px;
    background-color: var(--main-color);
    color: var(--brown-light);
    height: fit-content;

    @media(max-width: 991px) {
      width: 100%;
    }

    @media(max-width: 575px) {
      width: calc(100% + 30px);
      margin-left: -15px;
    }

    .h3 {
      color: var(--brown-light);
    }

    &Head {
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      font-size: 12px;
      margin-bottom: 19px;
    }
  }
}

.cartItems {
  font-size: 12px;
  margin-bottom: 10px;

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    li {
      display: flex;
      justify-content: space-between;
      column-gap: 10px;
    }
  }
}

.checkoutOrder {
  padding: 18px;
}

.checkout-delivery {
  ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 29px;
    row-gap: 29px;
    @media(max-width: 1199px){
      column-gap: 12px;
      row-gap: 12px;
    }

    li {
      grid-column: 4 span;

      @media(max-width: 1199px) {
        grid-column: 6 span;
      }
      &:nth-child(3){
        @media(max-width: 991px){
          grid-column: 12 span;
        }
      }

      input {
        display: none;

        &:checked {
          &+label {
            background-color: var(--brown-dark);
            color: #fff;
            border-color: var(--brown-dark);
          }
        }

        &+label {
          cursor: pointer;
          border: 1px solid #20201A;
          min-height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
          font-size: 12px;
          transition: background-color .2s linear, color .2s linear, border-color .2s linear;

          &:hover {
            background-color: var(--brown-dark);
            color: #fff;
            border-color: var(--brown-dark);
          }
        }
      }
    }
  }
}

.checkout-row {
  margin-bottom: 24px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 32px;
  row-gap: 24px;
  @media(max-width: 1199px){
    row-gap: 12px;
    column-gap: 0;
  }
}

.chechout-select {
  grid-column: 6 span;
  position: relative;

  @media(max-width: 1199px) {
    grid-column: 12 span;
  }

  select {
    width: 100%;
    height: 46px;
    padding-left: 11px;
    font-size: 12px;
    border-bottom: 1px solid #8F8F8C;
  }

  label {
    position: absolute;
    top: -3px;
    left: 16px;
    font-size: 10px;
    color: #8F8F8C;
  }
}

.chechout-input {
  grid-column: 6 span;

  @media(max-width: 1199px) {
    grid-column: 12 span;
  }

  input {
    height: 46px;
    width: 100%;
    border-bottom: 1px solid #8F8F8C;
    padding-left: 14px;
    font-size: 12px;
  }

  &.grid-column-12 {
    grid-column: 12 span;
  }
}

.chechout-input-grid-wrapper {
  grid-column: 6 span;
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  @media(max-width: 1199px){
    grid-column: 12 span;
    column-gap: 0;
  }
}

.point-del-text {
  font-size: 12px;
  max-width: 395px;
  margin-top: 12px;

  span {
    color: rgba($color: #20201A, $alpha: .5);
    display: block;
  }
}

.success-content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.success-wrap {
  margin-top: 35px;
  @media(max-width: 575px){
    margin-top: 24px;
  }
}

.success-icon {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: fit-content;
}

.success-block {
  border-top: 1px solid #8F8F8C;
  padding-top: 16px;
  padding-bottom: 16px;
}

.success-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  span {
    &:nth-child(1){
      @media(max-width: 991px){
        max-width: 100px;
      }
    }
  }
  span {
    &:nth-child(2){
      text-align: end;
    }
  }
  &:not(:last-child) {
    margin-bottom: 7px;
  }
}



