// Header
.header {
	background-color: var(--brown-light);
	position: relative;
	z-index: 1112;
	position: fixed;
	top: 0;
	width: 100%;

	@media(max-width: 991px) {
		padding-top: 17px;
		padding-bottom: 17px;
	}

	&W {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}

	&Nav {

		&W {
			@media(max-width: 991px) {
				max-width: 722px;
				margin-left: auto;
				margin-right: auto;
				display: flex;
				flex-direction: column;
				height: 100%;
				padding-top: 40px;
				padding-bottom: 39px;
				overflow-y: scroll;
			}

			@media(max-width: 767px) {
				max-width: 540px;
			}

			@media(max-width: 575px) {
				padding: 35px 15px 39px;
				max-width: 100%;
			}
		}

		@media(max-width: 991px) {
			display: none;
			position: fixed;
			top: 55px;
			left: 0;
			width: 100%;
			height: calc(100% - 50px);
			background-color: var(--brown-light);

		}

		&.active {
			display: block;
			-webkit-animation: shows 0.5s;
			animation: shows 0.5s;
		}

		ul {
			column-gap: 30px;

			@media(max-width: 1199px) {
				column-gap: 10px;
			}

			@media(max-width: 991px) {
				flex-direction: column;
				row-gap: 24px;
				margin-top: 24px;
			}

			li {
				&.submenu-1 {
					@media(max-width: 991px) {
						background: url('@img/icons/arrow-next.svg') no-repeat right center / 8px;
					}

					a {

						@media(max-width: 991px) {
							width: 100% !important;
						}
					}
				}



				a {
					display: flex;
					font-size: 12px;
					letter-spacing: 0.02em;
					text-transform: uppercase;
					padding-top: 22px;
					padding-bottom: 22px;
					position: relative;

					@media(max-width: 991px) {
						padding-top: 0;
						padding-bottom: 0;
						width: fit-content;
						font-size: 15px;
					}

					&::before {
						content: '';
						position: absolute;
						width: 100%;
						height: 1px;
						background-color: var(--brown-dark);
						bottom: 18px;
						opacity: 0;
						transition: opacity .2s linear;

						@media(max-width: 991px) {
							bottom: -5px;
						}
					}

					&:hover {
						color: var(--brown-dark);

						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}

	&Action {
		ul {
			display: flex;
			column-gap: 24px;

			@media(max-width: 1199px) {
				column-gap: 18px;
			}

			li {
				@media(max-width: 991px) {
					display: none;
				}

				&.headerCart {
					display: flex;
				}

				button {
					&:hover {
						opacity: .85;
					}

					svg {
						width: 16px;
						height: 16px;

						@media(max-width: 991px) {
							width: 20px;
							height: 20px;
						}
					}
				}

				a {
					&:hover {
						opacity: .85;
					}

					svg {
						width: 16px;
						height: 16px;

						@media(max-width: 991px) {
							width: 20px;
							height: 20px;
						}
					}
				}
			}
		}
	}

	&Logo {
		&:hover {
			opacity: .85;
		}

		img {
			width: 170px;

			@media(max-width: 1199px) {
				width: 150px;
			}

			@media(max-width: 991px) {
				width: 170px;
			}
		}
	}
}

.header-submenu {
	position: absolute;
	top: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: var(--brown-light);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding-top: 22px;
	padding-bottom: 22px;
	transition: visibility .2s linear, opacity .2s linear;

	@media(max-width: 991px) {
		position: fixed;
		top: 55px;
		background-color: var(--brown-light);
		width: 100%;
		height: calc(100% - 55px);
		border-top: none;
		padding-top: 38px;
		overflow-y: scroll;
	}

	&.active {
		visibility: visible;
		opacity: 1;
	}

	ul {
		display: flex;
		column-gap: 30px;
		row-gap: 20px;
		flex-wrap: wrap;

		@media(max-width: 991px) {
			flex-direction: column;
		}

		li {
			a {
				display: flex;
				font-size: 12px;
				line-height: normal;
				letter-spacing: 0.02em;
				text-transform: uppercase;
				border-bottom: 1px solid transparent;
				transition: border-color .2s linear;
				padding-bottom: 3px;

				@media(max-width: 991px) {
					font-size: 16px;
					width: fit-content;
				}

				&:hover {
					border-color: var(--brown-dark);
					color: var(--brown-dark);
				}
			}
		}
	}
}

.header-search {
	-webkit-box-shadow: 4px 8px 10px -7px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 4px 8px 10px -7px rgba(0, 0, 0, 0.2);
	box-shadow: 4px 8px 10px -7px rgba(0, 0, 0, 0.2);
}

.headerMobileMenuW {
	display: none;

	@media(max-width: 991px) {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		margin-top: auto;
	}
}

.headerMobileSwitchLangText {
	font-size: 12px;
}

.headerMobileSwitchLangText span {
	text-decoration: underline;
	text-transform: uppercase;
}

.headerMobileSwitchLang {
	display: flex;
	column-gap: 12px;
	align-items: center;
}

.searchW--sm {
	display: none;

	@media(max-width: 991px) {
		display: flex;
	}
}

.header-submenu-back {
	display: none;
	align-items: center;
	column-gap: 10px;
	margin-bottom: 35px;
	font-size: 16px;

	@media(max-width: 991px) {
		display: flex;
	}
}