.product {
  &W {
    display: flex;
    column-gap: 30px;

    @media(max-width: 767px) {
      flex-direction: column;
    }
  }

  .productSliderW {
    width: 100%;
  }

  &Main {
    width: 620px;
    flex-shrink: 0;

    @media(max-width: 1199px) {
      width: 500px;
    }

    @media(max-width: 991px) {
      width: 400px;
    }

    @media(max-width: 767px) {
      width: 100%;
      margin-top: 30px;
    }
  }

  &Price {
    margin-bottom: 16px;
    font-size: 12px;
  }

  &Descr {
    margin-bottom: 24px;
    font-size: 12px;
  }

  &Variation {
    &Name {
      margin-bottom: 16px;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 13px;
      row-gap: 13px;

      li {
        input {
          display: none;

          &+label {
            min-width: 74px;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #20201a;
            transition: background-color .2s linear, color .2s linear, border-color .2s linear;
            cursor: pointer;

       
            &:hover {
              color: #fff;
              background-color: #5a2e35;
              border-color: #5a2e35;
            }
          }

          &:checked {
            &+label {
              background-color: #5a2e35;
              border-color: #5a2e35;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.productVariations {
  margin-bottom: 32px;
}

.productTitleW {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.productThumbSlider {
  height: 655px;
  width: 100px;
  flex-shrink: 0;

  @media(max-width: 991px) {
    display: none;
  }
}

.productThumbSlide {
  height: auto;
  border: 1px solid rgba(32, 32, 26, 0.5);
  cursor: pointer;
  transition: border-color .2s linear;

  &:hover {
    border: 1px solid #20201a;
  }

  &.swiper-slide-thumb-active {
    border: 1px solid #20201a;
  }

}

.productSliderW {
  display: flex;
  width: calc(100% - 650px);
  column-gap: 28px;

  @media(max-width: 1199px) {
    width: calc(100% - 530px);
  }

  @media(max-width: 991px) {
    width: calc(100% - 430px);
  }

  @media(max-width: 767px) {
    width: 100%;
  }
}

.productSlide {

  img {
    height: 650px;
    width: 100%;
    object-fit: contain;
    object-position: center;

    @media(max-width: 1400px) {
      height: 500px;
    }

    @media(max-width: 991px) {
      height: 400px;
    }
  }
}

.productSliderHead {
  display: flex;
  align-items: center;
  column-gap: 50px;
  margin-bottom: 16px;
}

.sliderW {
  overflow: hidden;
}

.productRelated {
  overflow: visible;
}

.productSlider {
  .swiper-pagination {
    &-bullet {
      opacity: 1;
      background-color: rgba($color: #000000, $alpha: .3);

      &-active {
        background-color: #000000;
      }
    }

    display: none;

    @media(max-width: 991px) {
      display: flex;
      justify-content: center;
      position: relative;

    }
  }
}