.catalogDescr {
	font-size: 16px;
	margin-top: 16px;
}

.catalogList {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 10px;
	row-gap: 16px;
	@media(max-width: 1199px){
		grid-template-columns: repeat(12, 1fr);
	}
}

.catalogCard {
	position: relative;
	grid-column: 3 span;
	@media(max-width: 1199px){
		grid-column: 3 span;
	}
	@media(max-width: 767px){
		grid-column: 4 span;
	}
	@media(max-width: 575px){
		grid-column: 6 span;
	}

	.h3 {
		margin-bottom: 10px;
		@media(max-width: 991px){
			font-size: 14px;
		}

		a {
			&:hover {
				color: var(--brown-dark);
			}
		}
	}
}

.catalogCardSlide {
	img {
		width: 100%;
		height: 320px;
		object-fit: contain;
		object-position: center;
		@media(max-width: 575px){
			height: 55vw;
		}
	}
}

.catalogCardContent {
	padding-left: 22px;
	@media(max-width: 991px){
		padding-left: 10px;
	}
}

.catalogCardSlider {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}

.catalogCardPrice {
	font-size: 16px;
	@media(max-width: 991px){
		font-size: 14px;
	}
}